{% extends "new-templates/layout.html" %}
{% block content %}
<body>    
    <div id="hero" class="hero overlay subpage-hero portfolio-hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Cancel a Slot</h1>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section class="site-section subpage-site-section section-portfolio">
            <div class="container">
                <div class="row mt-50">
                    <div class="col-md-8 col-md-offset-2">
                        <form action="/booking-cancel" onsubmit="true" method="post">
                            <div class="row">
                                <div class="col-sm-12 mt-20">
                                    <div class="form-group">
                                      <label for="name">Name:</label>
                                      <input type="text" class="form-control" name="name" id="name">
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-20">
                                    <div class="form-group">
                                      <label for="phone">Driver's phone number:</label>
                                      <input type="number" class="form-control" name="phone" id="phone">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-20">
                                <input class="btn btn-violet" type="submit" value="Cancel Booking" name="Submit">
                            </div>
                            <div class="text-center mt-20">
                                <input class="btn btn-fill" type="reset" value="Reset" name="Reset">
                            </div>
                        </form>
                    </div>
                </div><!-- /.form -->
            </div>
        </section><!-- /.section-portfolio -->

    </main><!-- /#main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countTo.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.shuffle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
  
</body>
{% endblock %}